<!DOCTYPE html>
<html lang="en">
  <head>
    {{> headerlinks }}
  </head>
  <body>
   {{> navbar }}
    <!-- main header  -->

    <div class="container-fluid main-_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to weather app</p>
              <h1>
                I Am A
                <span class="text-clr">Mern Stack Developer</span> Youtuber And
                A Freelancer
              </h1>
              <a href="/weather"><button>About Me</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer code  -->

  {{>footer}}
  </body>
</html>
